<!--The content below is only a placeholder and can be replaced.-->
<!--The content below is only a placeholder and can be replaced.-->
<div fxFlex fxLayout="column">
    <md-toolbar>
        <div>
            <h3>Music SignIn</h3>
        </div>
    </md-toolbar>
    
    <div fxFlex fxLayout="row">    
        <div fxFlex="60%" class="frontPage"></div>
                <div fxFlex="40%">
                        <md-card>
                                <md-tab-group>
                                        <md-tab label="SIGN UP"><app-sign-up></app-sign-up></md-tab>
                                        <md-tab label="SIGN IN"><app-sign-in></app-sign-in></md-tab>
                                </md-tab-group>
                            </md-card>
                </div>
    
    </div>
    </div>



